{% extends 'base_layout.html' %}
{% load static from staticfiles %}
{% block css %}
<script src="{% static 'js/search_bar_home.js' %}"></script>
<script src="{% static 'js/review_bar_home.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<div class="home">

    <div class="fixed-bg intro-background">
        <img src="{% static 'logo-horizontal.png' %}" class="gambar-logo" />
        <div class="subtitle">
            Best place to bid.
        </div>
    </div>

    <div class="fixed-bg">
        <div class="kasihjarak"></div>
        <div class="sort">
            <div class="flex-row">
                <form id="sortbutton" action="{% url 'home:home' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <button class="sort-button" type="submit" value="sort">Sort</button>
                </form>
            </div>
        </div>
        <div class="kasihjarak"></div>
        {% if seller.count %}
        <div class="form-group">
            <div class="col-sm-6 offset-sm-3">
                <input id="search" class="form-control" type="text" placeholder="Search your item here..">
            </div>
        </div>
        <div id="result">
            <div class="flex-wrap">
                {% for item in seller %}
                <a href="{% url 'description:desc' id=item.id title=item.title %}">
                    <div class="card-barang">
                        <img src="{{ item.image.url }}" width="250" height="180" class="gambar"
                            style="margin-top: 0; border-radius: 20px 20px 0px 0px;" />
                        <div class="info-barang">
                            <div style="margin: 15px;"></div>
                            <div class="judul-barang">
                            <a
                                    href="{% url 'description:desc' id=item.id title=item.title %}"><b>{{ item.title }}</b></a>
                            
                            </div>
                            <div style="margin: 10px;"></div>
                            <div class="harga-barang">
                                ${{ item.price }}
                            </div>
                            <div style="margin: 20px;"></div>
                            <hr>
                            <div style="margin: 8px;"></div>
                            <div class="item-status">
                                {{item.status}}
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="lastsort">
            <i>Last sorted by <b>{{last.sort_by_choice}}</b> order at <b>{{last.lastSort}}</b></i>
        </div>
        {% else %}
        <div class="flex-column">
            <div class="belom-ada" style="margin-bottom: 10px;">
                Place your first items here!
            </div>
             <div style="display: flex; justify-content: center;">
                <button class="btn btn-place-bid button-unhovered" id="custom_button"><a href="{% url 'sell' %}">Want to Sell?</a></button>
            </div>
        </div>
        {% endif %}

        <div class="kasihjarak"></div>
        <hr>
        <div class="kasihjarak"></div>
        <div class="review">
            <h2>What they say about Clauction..</h2>
            {% if user.is_authenticated %}
            <div class="kasihjarak"></div>
            <form action="" method="POST">
                {% csrf_token %}

                <div class="col-sm-6 offset-sm-3">
                    {% for field in review_form %}
                    {{field}}
                    {% endfor %}
                </div>

                <div style="margin: 10px;"></div>

                <button class="btn btn-place-bid button-unhovered" id="custom_button" onclick="writeContent()">
                    Submit!
                </button>
            </form>
            {% else %}
            <div style="display: flex; justify-content: center;">
                <button class="btn btn-place-bid button-unhovered" id="custom_button"><a href="{% url 'login:login' %}">Log In to write about yours!</a></button>
            </div>
            {% endif %}

            <!--
            <div id="review_result" class="flex-wrap">
                {% for review in reviews %}
                <div class="review-card">
                <h3>{{review.review_content}}</h3>
                <h4>{{review.reviewer_username}}</h4>
                </div>
                {% endfor %}
            </div>-->

            <div class="kasihjarak"></div>
            <div id="review_result">
                <div style="display: flex; justify-content: center;">
                    <div class="review-wrapper" id="truly_result">
                        {% for review in reviews %}
                        <div class="review-item">
                            <div class="review-content">
                                {{review.no}}.&nbsp;{{review.review_content}}
                            </div>
                            <div class="review-author">
                                by {{review.reviewer_username}}, <i>at {{review.created_at}}</i>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="kasihjarak"></div>
        </div>
    </div>
</div>

<script>
    $('.btn-place-bid').mouseover(function() {
        $(this).removeClass('button-unhovered');
        $(this).addClass('button-hovered')
    });
    $('.btn-place-bid').mouseleave(function() {
        $(this).removeClass('button-hovered');
        $(this).addClass('button-unhovered');
    });

    
    $(function() {
        var len_fit = 18;
        var title = $('.judul-barang a b');

        console.log('title: ' + title.html());

        var len_item_title = title.html().length;
        if(len_fit < len_item_title) {
            var size_now = parseInt(title.css("font-size"));
            var size_new = size_now * len_fit/len_item_title;

            title.css("font-size",size_new);
        }
    });
    
</script>

{% endblock %}