{% extends 'base_layout.html' %}

{% load static from staticfiles %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/description.css' %}">
{% endblock %}

{% block content %}
<h1 class="center start">{{ item.title }}</h1>
<div class="flex-pc item">
    <div class="itemdiv">
        <img src="{{ item.image.url }}" alt="" id="itemimg" />
    </div>
    <div class="itemdiv">
        <p class="center">This Auction Ends in:</p>
        <p class="center" id="specialtxt">{{ countdown }}</p>
        <p class="center">{{ curorlast }} Price: <span id="specialtxt">${{ lastprice }}</span></p>
        {% if user.is_authenticated %}
        <button class="btn btn-place-bid" id="placebid">Place Bid</button>
        <a href="{% url 'wishlist:add_to_wishlist' id=item.id %}" class="btn btn-place-bid" id="wishlist">Add to Wishlist</a>
        {% else %}
        <p class="center" id="mustlogintxt">Click the Login button <br>to place your bid!</p>
        {% endif %}
        
    </div>
</div>

<div id="infodiv">
    <h3>Information</h3>
    <div id="infodivborder">
        <div class="center flex-pc">
            <div class="infoheaderdiv infoactive" onclick=infoOn(id) id="auctxt">Auction Details</div>
            <div class="infoheaderdiv" onclick=infoOn(id) id="paytxt">Payment</div>
            <div class="infoheaderdiv" onclick=infoOn(id) id="itemdesctxt">Item Description</div>
            <div class="infoheaderdiv" onclick=infoOn(id) id="additxt">Additionals</div>
        </div>
        <div>
            <p id="infocontent">
                Starting Bid: ${{ item.starting_price }}<br>
                Current Bid: ${{ lastbid }}<br>
                Start Date: {{ item.start_date }}<br>
                End Date: {{ item.end_date }}<br>
                Bid Count: {{ bidcount }}
            </p>
        </div>
    </div>

    <div id="qnamar">
        <h3>QnA</h3>
        {% if user.is_authenticated %}
        <form class="flex-pc" method="POST" action="{% url 'description:ask' id=item.id %}">
            {% csrf_token %}
            {{ qnform }}
            <button type="submit" class="btn btn-submit">Submit</button>
        </form>
        {% else %}
        <p>You must first sign in to ask questions.</p>
        {% endif %}
        <div id="qna">
            {% if item.questions.all.count %}
            {% for q in item.questions.all %}
            <p class="qnaheader">Q: {{q}}</p>
            <p class="timetxt">{{q.time}}</p>
            {% if user == item.user %}
            <p class="replytxt" id="replytxt {{q.id}}" onclick=displayForm({{q.id}})>Reply</p>
            <div class="ansform" id="ansform {{ q.id }}">
                <form class='flex' method='POST' action="{% url 'description:ans' id=q.id item_id=q.item_id %}">
                    {% csrf_token %}
                    {{ ansform }}
                    <button type="submit" class='btn btn-submit'>Submit</button>
                </form>
            </div>
            {% endif %}
            
            {% for a in q.answers.all %}
            <div class="answer">
                <p class="aheader">A: {{a}}</p c>
                <p class="timetxt">{{a.time}}</p>
            </div>
            {% endfor %}

            {% endfor %}

            {% else %}
            <p>Ask us anything!</p>
            {% endif %}
        </div>
    </div>
</div>

<div id="overlay_bidform">
    <div id="overlay_content">
        <h3 class="center">Place Your Bids Here!</h3>
        <div class="bidform">
           <form method='POST' action="{% url 'description:place_bid' %}" id="bid_form">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ item.id }}">
                {{ bidform }}
                <button class="btn btn-place-bid" id="bidbutton">Place Bid</button>
            </form>
        </div>
        <div id="thanks_content">
            <p>Thank you {{ user.first_name }} for bidding with us!<br>
            We will contact you soon when the auction ends.</p>
        </div>
    </div>
</div>

<script>
    function infoOn(id) {
        document.getElementsByClassName("infoactive")[0].className = "infoheaderdiv";
        document.getElementById(id).className = "infoheaderdiv infoactive";
        var info = document.getElementById("infocontent");
        info.className = "infocontentblue";
        if (id == "auctxt") {
            info.innerHTML = "Starting Bid: ${{ item.starting_price }}<br>Current Bid: ${{ lastbid }}<br>Start Date: {{ item.start_date }}<br>End Date: {{ item.end_date }}<br>Bid Count: {{ bidcount }}";
            info.className = "";
        } else if (id == "paytxt") {
            info.innerHTML = "No data regarding payment methods.";
        } else if (id == "itemdesctxt") {
            info.innerHTML = "{{ item.description }}";
            info.className = "";
        } else if (id == "additxt") {
            info.innerHTML = "No additional data";
        }
    }
</script>
<script src="{% static 'js/description.js' %}"></script>

{% endblock %}