{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
	crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class='container'>
	 <div class="container"style="font-family:livvic">
    	<br><br><br><br>

		<h1 style="font-family:livvic" align="center">Edit Profile</h1>

      <form method="post">
				{% csrf_token %}
     		 <div class="form-group row">
       			 <label class="col-sm-2 col-form-label mr-2"> {{ fields.label_tag }}</label>
       			 <div class="col-sm-6">
         			 {{ form.as_p}}
		 		<button type="submit" class="btn btn">Submit</button>
		</form>
        		</div>
     		 </div>

	
		</div>

{% endblock %}
