{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block css%}
<script src="{% static 'js/myprofile.js' %}"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}
<br><br><br>
<div class="container bootstrap snippet">
    <div class="row">
    	<br>
    	
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <div class="col-sm-10" style="font-family:livvic"><h2>{{user}}</h2></div>
        <!-- <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload"> -->
      </div></hr><br>
     </div>
		<div class="row">
		 <div class="col-xs-6">
				<div class='container' style="font-family:livvic">
					
					 <div class="row">

					 	<div class="col-6 col-sm-3"><h4>Name   :</h4></div>
						  <div class="col col"><h4>{{user.first_name}} {{user.last_name}}<h4></div>

						  <!-- Force next columns to break to new line -->
						  <div class="w-100"></div>

					</div>


					 <div class="row">

					 	<div class="col-6 "><h4>Phone Number   :</h4></div>
						  <div class="col-sm-6"><h4>{{userdata.phone_number}}<h4></div>

						  <!-- Force next columns to break to new line -->
						  <div class="w-100"></div>

					</div>




					 <div class="row">

					 	<div class="col-6 col-sm-3"><h4>Address   :</h4></div>
						  <div class="col-sm-6"><h4>{{userdata.address}}<h4></div>

						  <!-- Force next columns to break to new line -->
						  <div class="w-100"></div>

					</div>

					 <!-- 	<img src="{{ user.userprofile.image }}" width="240"> -->

					 <br><br><br>
					{% if user.is_authenticated %}

					<div class="container">
						  <div class="row justify-content-md-center">
						    <div class="col col">
						      <a href="{% url 'myprofile:edit_profile' %}"><button type="button" class="btn btn-place-bid">edit profile </button> </a> 
						    </div>
						    <div class="col-md-auto">
						     <a ><button type="button" id='history' class="btn btn-place-bid">history </button></a>
						    </div>
						    <div class="col col">
						      <a href="{% url 'myprofile:change_password' %}"><button type="button" class="btn btn">ChangePassword</button></a>
						    </div>
						  </div>
					</div>				
						
					{%else%}

					<div class="container">
						  <div class="row justify-content-md-center">
						    <div class="col col-lg-5">
						      <a href="{% url 'login:signup' %}">Sign Up</a>
						  	</div>
						  </div>
					</div>	
						
					{% endif %}
				</div>
				</div>
				






</div>
</div>
<div id='result'>

</div>

{% endblock %}
