{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <title>Log In</title>
</head>

<body>
    <div style="margin-top: 5rem;">
        <h2 style="display: flex; justify-content: center;">Log In</h2>
        <form class="site-form" action="{% url 'login:login' %}" method="POST">
            <div style="display: flex; justify-content: center;">
                <div class="squared">
                    <div style="padding-top: 1.5rem;">
                        <div class="form-group">
                            {% csrf_token %}
                            {% for field in form %}
                            <div style="display: flex; justify-content: center;">
                                <div class="pair">
                                    {{field.label_tag}}
                                    <div class="col-sm-12">
                                        {{field}}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div style="display: flex; justify-content: center;">
                            <div class="signup-btn">
                                <input type="submit" value="Log In">
                            </div>
                        </div>
                        <div style="display: flex; justify-content: center; font-size: 12px; padding-top: 0.2rem;">
                            Don't have an account?&nbsp;
                            <a href="{% url 'login:signup' %}">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div style="display: flex; justify-content: center; padding-top: 0.5rem;">
            <div class="error">
                {{errors}}
            </div>
        </div>
    </div>

    <script>
        $("input").addClass("form-control");
    </script>
</body>

</html>