{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <title>Sign Up</title>
</head>

<body>
    <div style="margin-top: 4rem;">
        <h2 style="display: flex; justify-content: center;">Sign Up</h2>
        <form class="site-form" action="{% url 'login:signup' %}" method="POST">
            {% csrf_token %}
           
            <div class="signup-form">
                <div class="form-group">
                    {% for field in form %}
                        <div class="pair">
                            {{field.label_tag}}
                            <div class="col-sm-10">
                                {{field}}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div style="margin: 10px;"></div>
            <div style="display: flex; justify-content: center;">
                <div class="signup-btn">
                    <input type="submit" value="Sign Up">
                </div>
            </div>
            <div style="margin: 10px;"></div>
            <div style="display: flex; justify-content: center; font-size: 12px; padding-top: 0.2rem;">
                Already have an account?&nbsp;
                <a href="{% url 'login:login' %}">Login</a>
            </div>
            
        </form>
        <div style="display: flex; justify-content: center; padding-top: 0.5rem;">
            <div class="error">
                {{errors}}
            </div>
        </div>
    </div>

    <script>
        $("input").addClass("form-control");
    </script>
</body>

</html>