{% extends 'base_layout.html' %}

{% load static from staticfiles %}
{% block css %}
<script src="http://code.jquery.com/jquery-3.4.1.js"></script>
<script>
$(document).ready(function(){
  $(".container").hover(function(){
    $(this).css("background-color", "#C4C4C4");
    }, function(){
    $(this).css("background-color", "#9ECDFF");
  });
});
</script>
<script src="{% static 'js/search_bar_wishlist.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/wishlist.css' %}">
{% endblock %}

{% block content %}
<div id="result">
    <h1>My Wishlist</h1>
    <div class="form-group">
        <div class="col-sm-6 offset-sm-3">
            <input id="search-bar" class="form-control" type="text" placeholder="Search your item here..">
        </div>
    </div>
{% for i in wishlists %}
    <div class="container">
        <table >
            <tr>
                <td><img src="{{ i.item.image.url }}" width="120" height="150" class="gambar" style="margin-top: 0; margin-right: 100; border-radius: 10px 10px 10px 10px;" /></td>
                <td> 
                    <h2>
                        <a href="{% url 'description:desc' id=i.item.id title=i.item.title %}"><b>{{ i.item_name }}</b></a>
                    </h2>
                    <p>${{ i.item.price }}</p>
        </td>
            </tr>

        </table>
    </div>
{% endfor %}
</div>
{% endblock %}
