.buyerbackgroud{
    background-color: aqua;
}
.containerr {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #9ECDFF;
    margin-bottom: 30px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
	font-family:livvic;
}
  h1{
      margin-top: 100px;
      text-align: center;
      padding: 30px;
  }
.tulisan{
  text-align: center;
}
p{
  text-align: center;
}
.containerr a{
	position :relative;
	bottom: 20px;
	right: 20px;
}

.btn-place-bid {
	font-size: 20px;
	color: #fff;
	background-color: #0D0B82;
	box-shadow: 5px 5px #C4C4C4;
  }