/* General */
div {
    display: block;
}

.flex {
    display: flex;
}

.flex-pc {
  display: flex;
}

p {
    color: #33333c;
    font-family: 'Livvic', 'Segoe UI', sans-serif;
    font-size: 23px;
    margin: 20px 0px;
}

h1 {
    color: #33333c;
    font-family: 'Livvic', 'Segoe UI', sans-serif;
    font-size: 45px;
    font-weight: 590;
    margin-bottom: 30px;
}

h3 {
    color: #33333c;
    font-family: 'Livvic', 'Segoe UI', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin: 0px 0px 10px;
}

.center { text-align: center; }

/* Description */
.start { margin-top: 15vh; }

#specialtxt { 
  font-size: 40px;
  margin-bottom: 6vh; }

.item {
  width: 80vw;
  margin: 0px auto; }

.itemdiv { 
  width: 50vw;
  margin: 0px auto;
}

#itemimg {
  width: 500px; 
  height: 325px;
   }

#placebid {
  margin: 1vw 0 0 15vw;
}

#mustlogintxt {
  box-shadow: 3px 3px #C4C4C4;
  background-color: rgb(192, 191, 248);
  padding: 2vh 0;
}

/* Table */
#infodiv {
  width: 84%;
  margin: 0px auto;
  padding: 5vh 0px;
}

#infodivborder {
  border: 1px solid rgb(218, 219, 224);
  border-collapse: collapse;
  border-radius: 4px;
}

.infoheaderdiv {
    color: #2E2E62;
    font-family: 'Livvic', 'Segoe UI', sans-serif;
    font-size: 25px;
    width: 100%;
    padding: 10px 0px;
    border: 1px solid rgb(218, 219, 224);
}

.infoheaderdiv:hover {
  border-top: 3px solid #2E2E62;
}

.infoactive {
  background-color: #CAE4FF;
  border-top: 3px solid #2E2E62;
  border-bottom: 0px;
  font-weight: 600;
}

#infocontent {
  width: 95%;
  margin: 2vw auto;
  font-size: 21px;
}

.infocontentblue {
  border: 1px solid rgb(173, 211, 252); 
  border-radius: 4px;
  padding: 1vw;
  color: #2E2E62;
  background-color: rgb(209, 231, 255);
}

/* QnA */
#qnamar {
  padding-top: 5vh;
}

.answer {
  margin: 0px 0px 0px 2vw;
  font-size: 15px;
  width: 100%;
}

.qnaheader {
  margin: 3vh 0px 1vh 0px;
  padding: 0px;
}

.aheader {
  margin: 2vh 0px 1vh 0px;
  padding: 0px;
  font-size: 22px;
}

.timetxt {
  padding: 0px;
  margin: 0px 0px 0px 2vw;
  font-size: 15px;
}

.replytxt {
  cursor: pointer;
  text-decoration: underline #0D0B82;
  font-size: 15px;
  margin: 10px 0px 0px 2vw;
}

.ansform {
  width:80%;
  margin: 0px 0px 0px 2vw;
  display: none;
}

.qnform input[type=text] {
  width: 100%;
  padding: 5px 20px;
  height: 30px;
  border: 1px solid #707070;
  font-size: 20px;
  font-family: 'Livvic', 'Segoe UI', sans-serif;
  margin: 10px 5px 0px 0px;
  color: #504A4A;
}

.ansform input[type=text] {
  width: 100%;
  padding: 5px 10px;
  height: 20px;
  border: 1px solid #707070;
  font-size: 15px;
  font-family: 'Livvic', 'Segoe UI', sans-serif;
  margin: 0px 5px 0px 0px;
  color: #504A4A;
}

/* Bootstrap */
.btn {
  display: inline-block;
  font-family: 'Livvic', 'Segoe UI', sans-serif;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.75rem 1.2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn-place-bid {
  font-size: 20px;
  color: #fff;
  background-color: #0D0B82;
  box-shadow: 5px 5px #C4C4C4;
}

.btn-place-bid:hover {
  color: #fff;
  cursor: pointer;
}

.btn-submit {
  font-size: 20px;
  color: #000;
  box-shadow: 3px 3px #C4C4C4;
  padding: 0 0.5rem;
}

.ansform .btn-submit {
  font-size: 15px;
  color: #000;
  box-shadow: 2px 2px #C4C4C4;
  padding: 0 0.25rem;
}

.btn-submit:hover {
  cursor: pointer;
}

.form-control {
  display: flex;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Media */
@media only screen and (max-width: 1023px) {
  .flex-pc { display: block; } 

  .item {width: 100%; }
  
  .itemdiv { width: 100%; }

  #itemimg { margin-left: 25vw;}

  #placebid { margin: 1vw 0 0 40vw; }
}

@media only screen and (max-width: 900px) {
  #itemimg { margin-left: 20vw;}
}

@media only screen and (max-width: 775px) {
  #itemimg { margin-left: 12vw;}
}

@media only screen and (max-width: 640px) {

  #itemimg { 
    width: 450px;
    height: 300px;
  }

  #placebid { 
    margin: 1vw 0 0 35vw;
    font-size: 18px;
     }
/* General */
p {
  font-size: 18px;
  margin: 20px 0px;
}

h1 { font-size: 35px; }

h3 { font-size: 22px; }

/* Description */
#specialtxt {  font-size: 30px; }

/* Table */
.infoheaderdiv { font-size: 18px; }

#infocontent {
width: 90%;
margin: 5vh auto;
font-size: 15px;
}

.infocontentblue { padding: 2vw; }

/* QnA */
#qnamar { padding-top: 5vh; }

.timetxt {
  font-size: 15px;
}

input[type=text] {
width: 90%;
font-size: 18px;
margin: 10px 5px 10px 0px;
}

/* Bootstrap */
.btn-submit { font-size: 18px; }
}

@media only screen and (max-width: 550px) {
  #itemimg { 
    margin-left: 10vw;
    width: 400px;
    height: 275px;
  }

  #placebid { margin: 1vw 0 0 33vw; }
}

@media only screen and (max-width: 470px) {
  #itemimg { 
    margin-left: 7vw;
    width: 350px;
    height: 230px; }
}

@media only screen and (max-width: 400px) {
  #itemimg { 
    width: 300px;
    height: 200px; }
}

@media only screen and (max-width: 350px) {
  #itemimg { margin-left: 1vw; }
}