/*Content*/
* {
  font-family: "Livvic";
}

html, body {
  margin: 0;
}
body {
  height: 100%;
}
.home {
    margin-top: 4.5%;
}

.card-barang {
  width: 250px;
  height: 380px;
  background-color: #9ecdff;
  margin: 15px;
  border-radius: 20px;
  text-align: center;
}

.info-barang {
  padding-top: 0.5rem;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sort-button {
  width: 50px;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #0a0057;
  text-align: center;
  line-height: 20px;
}

.sort {
  margin-left: 10%;
  margin-bottom: 3%;
}

.lastsort {
  text-align: center;
  justify-content: center;
  margin-top: 3%;
}

button.sort-button {
  width: 50px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #0a0057;
  text-align: center;
  line-height: 30px;
}

img.gambar {
  margin-top: 10%;
  /*max-width: 300px;
  max-height: 380px;*/
}

h2 a {
  color: black;
  font-size: 30px;
}

.judul-barang a {
  color: black;
  font-size: 30px;
}

.harga-barang {
  font-size: 23px;
  font-weight: bold;
}

h3 {
  font-size: 25px;
}

.belom-ada {
  text-align: center;
  font-size: 30px;
  margin-top: 4%;
}

.title {
  color: #e8eefe;
}

.subtitle {
  font-size: 50px;
  margin: 10px 0px 0px 0px;
  padding: 0;
  color: #e8eefe;
  font-family: "Aleyna", "Livvic";
}

.intro-background {
  height: 17rem;
  text-align: center;
  background: linear-gradient(to right, #4568dc, #b06ab3);
  /*background: linear-gradient(to right, #0575e6, #021b79); */
  padding-top: 8%;
  margin: 0 auto;
  /*background-attachment: fixed;*/
}

.fixed-bg {
  background-attachment: fixed !important;
  background-position: center !important; 
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative !important;
}

.kasihjarak {
  margin: 40px;
}

img.gambar-logo {
  max-width: 230px;
  margin: 0;
  padding: 0;
}

.item-status {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.review {
  text-align: center;
}

.review-card {
  height: 200px;
  width: 400px;
  text-align: center;
  justify-content: center;
  color: white;
  padding-top: 3.8rem;
  border-radius: 20px;
  margin: 20px;
  background:  #0a0057;
}

.btn-place-bid {
  font-size: 20px;
  color: #fff;
  background-color: #0D0B82;
  box-shadow: 5px 5px #C4C4C4;
  width: 150px;
  border-radius: 10px;
}

.btn-place-bid a {
  color: #fff;
}

/*Bootstrap*/
.col-sm-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.offset-sm-3 {
  margin-left: 25%;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

.review-wrapper {
  width: 900px;
  border-radius: 10px;
  border: 1px solid #6c757d;
  text-align: justify;
  padding-left: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-right: 1rem;
}

.review-item {
  margin-bottom: 10px;
}

.review-content {
  font-size: 20px;
  font-weight: bold;
}

.review-author {
  font-size: 18px;
}

.button-hovered {
  font-weight: bold;
}

.button-unhovered {

}

@media screen and (max-width: 600px) {
  h2 a {
    font-size: 23px;
  }

  h2 {
    font-size: 20px;
  }

  .belom-ada {
    font-size: 20px;
    margin-top: 25%;
  }

  h3 {
    font-size: 18px;
  }

  .card-barang {
    width: 250px;
    height: 380px;
  }

  img.gambar {
    max-width: 250px;
  }

  .sort {
    font-size: 15px;
  }

  .lastsort {
    font-size: 15px;
  }

  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 35px;
  }

  .intro-background {
    height: 12rem;
    text-align: center;
    padding-top: 37.5%;
    margin: 0 auto;
  }

  img.gambar-logo {
    max-width: 150px;
  }
  
  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  .review-content {
    font-size: 15px;
    font-weight: bold;
  }

  .review-author {
    font-size: 12px;
  }

  .review-wrapper {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}