* {
    font-family: "Livvic";
}

h2 {
    font-family: "Livvic";
}

.squared {
    width: 330px;
    height: 280px;
    border-radius: 10px;
    border: 1px solid #b8b4b4;
}

.signup-form {
    padding-top: 2rem; 
    margin-left: 12.5%;
}

.btn-login {
    height: 7vh;
    margin-top: 20px;
    margin-right: 30px;
    padding: 5px 10px;
    font-size: 20px;
    color: #fff;
    background-color: #0D0B82;
    box-shadow: 2px 2px #C4C4C4;
  }
  
  .btn-login:hover {
    text-decoration: 1px white overline;
    color: #fff;
    cursor: pointer;
  }
  
  .form-control {
    display: flex;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

.error {
    font-size: 10px;
}

.pair {
    margin: 15px;
}

@media screen and (max-width: 600px) {
    .signup-form {
        margin-left: 5%;
    }
}