/* OVERLAY */
#overlay_bidform {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    align-content: center;
    transition: 0.2s;
  }

  #overlay_login {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    align-content: center;
    transition: 0.2s;
  }
  
  #overlay_content {
    margin: auto;
    width: 40vw;
    height: auto;
    flex-direction: row;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    padding: 1vw 2vw;
    background-color: white;
    display: block;
  }

  #overlay_content_login {
    margin: auto;
    width: 30vw;
    height: 60%;
    flex-direction: row;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    padding: 1vw 2vw;
    background-color: white;
    display: block;
  }
  
  .bidform input[type=number] {
    width: 90%;
    padding: 5px 10px;
    height: 20px;
    border: 1px solid #707070;
    font-size: 15px;
    font-family: 'Livvic', 'Segoe UI', sans-serif;
    margin: 2vh px;
    color: #504A4A;
  }
  
  #thanks_content {
    display: none;
  }

  /*Bootstrap*/
.col-sm-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.offset-sm-3 {
  margin-left: 25%;
}

.form-group {
  margin-bottom: 1rem;
}

input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}