.container {
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
    background-color: #9ECDFF;
    margin-bottom: 30px;
    }
 
.btn {
  font-size: 20px;
  color: #fff;
  background-color: #0D0B82;
  box-shadow: 5px 5px #C4C4C4;
}