.container {
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
    background-color: #9ECDFF;
    margin-bottom: 30px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  h1{
      margin-top: 100px;
      text-align: center;
      padding: 30px;
  }
.content{
  margin-top: 200px;
  text-align: center;
  padding-top: 300px;
}
.text{
  text-align: center;
}
p{
  text-align: center;
}

.btn-place-bid {
  font-size: 20px;
  color: #fff;
  background-color: #0D0B82;
  box-shadow: 5px 5px #C4C4C4;
}